$mBlue = #259ce5
$mGreen = #3f9e53

$svg = #b50404
$canvas = #f0422a
$h5 = #f4c914
$css3 = #f27916

$mMain = #20374f 
$noSelect(){
    
    -webkit-user-select none
    -moz-user-select none
    -ms-touch-select none
    -ms-touch-select none
}

$radius5(){
    border-radius: 5px
}
$flexCenter(){
    display: flex
    justify-content: center
    align-items: center
}
$tags(){
    cursor pointer
    $radius5()
    color: #fff
    padding: .2em
}
.svg
    $tags()
    background $svg
.h5
    $tags()
    background $h5 
.canvas
    $tags()
    background $canvas 
.css3
    $tags()
    background $css3 