$mBlue = #259ce5
$mGreen = #3f9e53
$mRed = #e22d59
$mYellow = #e8a123
$mDeep = #1c2128
$mMain = #20262e
$mPink = #d823e8
$noSelect(){
    
    -webkit-user-select none
    -moz-user-select none
    -ms-touch-select none
    -ms-touch-select none
}
$inputStyle(){
    color #fff 
    padding .1rem .3rem
    background #1c1f24
    border 1px solid #000
    border-bottom 1px solid rgba(255,255,255,.3)
    border-radius 4px
}
$btn(){
    width 1rem
    height .6rem
    line-height .6rem
    text-align center
    color #fff
    border-radius 4px
    transition all .25s
    cursor pointer
    margin 0 .1em
}

$flexCenter(){
    justify-content: center
    align-items: center
}